<ion-header>
  <ion-toolbar color="tertiary"> 
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-text>VentApp de Entradas</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class ="fade-in" >
  <ion-card *ngIf="usuario">

  <ion-card-header>
      <ion-card-title>Tus Datos</ion-card-title>
  </ion-card-header> 
  <ion-card-content>
    <p>Nombre: {{ usuario.nombre }} {{usuario.apellido}}</p>
    <p>Edad: {{ usuario.edad }}</p>
  </ion-card-content>   
  </ion-card>

  <ion-card *ngIf="datosCompra">
    <ion-card-header>
      <ion-card-title>Detalle de tu Boleta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Evento: {{ datosCompra.tipos_evento }}</p>
      <p>Cantidad: {{ datosCompra.cantidad }}</p>
      <p>Tipo de Entrada: {{ datosCompra.tipo_entrada }}</p>
      <p>Precio por entrada: {{ datosCompra.tipo_entrada.precio }}</p>
      <p><strong>Total sin Descuento: ${{ precioTotal }}</strong></p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="datosCompra">
    <ion-card-header>
      <ion-card-title>Valor a pagar</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="textoDescuento">{{ textoDescuento }}</p>
      <p *ngIf="descuento !== precioTotal"><strong>Total con Descuento: ${{ descuento }}</strong></p>
    </ion-card-content>
  </ion-card>
  <ion-button color="tertiary" expand="block" (click)="finalizar()">Finalizar Compra</ion-button>
</ion-content>




<ion-footer>
  <ion-toolbar>
    <ion-title size="small" text-center>
      © 2024 Antonia Pacheco. Todos los derechos reservados.
    </ion-title>
  </ion-toolbar>
</ion-footer>
