<ion-header>
  <ion-toolbar color="tertiary"> 
    <ion-buttons slot = "start">
      <ion-back-button></ion-back-button>
    </ion-buttons>    <ion-title>
      <ion-text>VentApp de Entradas</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <ion-card *ngIf="usuario"> <!--Cuando los datos que vamos a llamar pueden ser null, hay que usar el ng if-->
    <ion-card-content>
      <ion-card-subtitle>Bienvenido, {{ usuario.nombre }} {{ usuario.apellido }}</ion-card-subtitle>
      <ion-card-subtitle>Edad: {{ usuario.edad }}</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  <!-- Aquí iría el formulario de compra de entradas -->
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title size="small" text-center>
      © 2024 Antonia Pacheco. Todos los derechos reservados.
    </ion-title>
  </ion-toolbar>
</ion-footer>