<ion-header>
  <ion-toolbar color="tertiary"> 
    <ion-buttons slot = "start">
      <ion-back-button></ion-back-button>
    </ion-buttons>    <ion-title>
      <ion-text>VentApp de Entradas</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <div *ngIf="usuario">
    <h2>Bienvenido, {{ usuario.nombre }} {{ usuario.apellido }}</h2>
    <p>Edad: {{ usuario.edad }}</p>
  </div>
  <div *ngIf="!usuario">
    <p>No se ha encontrado un usuario registrado.</p>
  </div>
  
  <!-- Aquí iría el formulario de compra de entradas -->
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title size="small" text-center>
      © 2024 Antonia Pacheco. Todos los derechos reservados.
    </ion-title>
  </ion-toolbar>
</ion-footer>