<ion-header>
  <ion-toolbar color="tertiary"> 
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-text>VentApp de Entradas</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="usuario"> <!-- Cuando los datos que vamos a llamar pueden ser null, hay que usar ngIf -->
    <ion-card-content>
      <ion-card-subtitle>Bienvenido, {{ usuario.nombre }} {{ usuario.apellido }}</ion-card-subtitle>
      <ion-card-subtitle>Edad: {{ usuario.edad }}</ion-card-subtitle>
    </ion-card-content>

    <ion-card-content>
      <form [formGroup]="f_datos_entrada">

        <ion-item>
          <ion-label>Tipo de Entrada</ion-label>
          <ion-select formControlName="tipo_entrada">
            <ion-select-option *ngFor="let tipo of tipos_entrada" [value]="tipo.tipo">
              {{ tipo.tipo }} - ${{ tipo.precio }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Cantidad de entradas</ion-label>
          <ion-input type="number" formControlName="cantidad"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Tipo de Entrada</ion-label>
          <ion-select formControlName="tipo_entrada">
            <ion-select-option *ngFor="let tipo of tipos_entrada" [value]="tipo.tipo">
              {{ tipo.tipo }} - ${{ tipo.precio }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        
        
        <ion-button color="tertiary" expand="block">Finalizar la compra</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title size="small" text-center>
      © 2024 Antonia Pacheco. Todos los derechos reservados.
    </ion-title>
  </ion-toolbar>
</ion-footer>
